lib/src/main/resources/META-INF/wsdl/SID0003130.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn://x-artefacts-it-ru/dob/poltava/core/1.3.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn://x-artefacts-it-ru/dob/poltava/core/1.3.1" name="PoltavaCoreService">
<types>
<xsd:schema>
<xsd:import namespace="urn://x-artefacts-it-ru/dob/poltava/core/1.3.1" schemaLocation="OwsmImport.xsd"/>
</xsd:schema>
</types>
<message name="getBranchList">
<part name="parameters" element="tns:getBranchListRequest"/>
</message>
<message name="getBranchListResponse">
<part name="parameters" element="tns:getBranchListResponse"/>
</message>
<message name="getBranchByProductList">
<part name="parameters" element="tns:getBranchByProductListRequest"/>
</message>
<message name="getBranchByProductListResponse">
<part name="parameters" element="tns:getBranchByProductListResponse"/>
</message>
<message name="getPerson">
<part name="parameters" element="tns:getPersonRequest"/>
</message>
<message name="getPersonResponse">
<part name="parameters" element="tns:getPersonResponse"/>
</message>
<message name="getProductList">
<part name="parameters" element="tns:getProductListRequest"/>
</message>
<message name="getProductListResponse">
<part name="parameters" element="tns:getProductListResponse"/>
</message>
<message name="getPaymentOrderDetails">
<part name="parameters" element="tns:getPaymentOrderDetailsRequest"/>
</message>
<message name="getPaymentOrderDetailsResponse">
<part name="parameters" element="tns:getPaymentOrderDetailsResponse"/>
</message>
<message name="getBusinessRefBookList">
<part name="parameters" element="tns:getBusinessRefBookListRequest"/>
</message>
<message name="getBusinessRefBookListResponse">
<part name="parameters" element="tns:getBusinessRefBookListResponse"/>
</message>
<message name="getBusinessRefBookContent">
<part name="parameters" element="tns:getBusinessRefBookContentRequest"/>
</message>
<message name="getBusinessRefBookContentResponse">
<part name="parameters" element="tns:getBusinessRefBookContentResponse"/>
</message>
<message name="getBusinessRefBookItem">
<part name="parameters" element="tns:getBusinessRefBookItemRequest"/>
</message>
<message name="getBusinessRefBookItemResponse">
<part name="parameters" element="tns:getBusinessRefBookItemResponse"/>
</message>
<message name="setPerson">
<part name="parameters" element="tns:setPersonRequest"/>
</message>
<message name="setPersonResponse">
<part name="parameters" element="tns:setPersonResponse"/>
</message>
<message name="getOptionsForWizardStep">
<part name="parameters" element="tns:getOptionsForWizardStep"/>
</message>
<message name="getOptionsForWizardStepResponse">
<part name="parameters" element="tns:getOptionsForWizardStepResponse"/>
</message>
<message name="getActiveUIBlocksByChoosenOptions">
<part name="parameters" element="tns:getActiveUIBlocksByChoosenOptions"/>
</message>
<message name="getActiveUIBlocksByChoosenOptionsResponse">
<part name="parameters" element="tns:getActiveUIBlocksByChoosenOptionsResponse"/>
</message>
<portType name="PoltavaCorePortType">
<operation name="getBranchList">
<input wsam:Action="urn:getBranchList" message="tns:getBranchList"/>
<output wsam:Action="urn://x-artefacts-it-ru/dob/poltava/core/1.3.1:PoltavaCorePortType:getBranchListResponse" message="tns:getBranchListResponse"/>
</operation>
<operation name="getBranchByProductList">
<input wsam:Action="urn:getBranchByProductList" message="tns:getBranchByProductList"/>
<output wsam:Action="urn://x-artefacts-it-ru/dob/poltava/core/1.3.1:PoltavaCorePortType:getBranchByProductListResponse" message="tns:getBranchByProductListResponse"/>
</operation>
<operation name="getPerson">
<input wsam:Action="urn:getPerson" message="tns:getPerson"/>
<output wsam:Action="urn://x-artefacts-it-ru/dob/poltava/core/1.3.1:PoltavaCorePortType:getPersonResponse" message="tns:getPersonResponse"/>
</operation>
<operation name="getProductList">
<input wsam:Action="urn:getProductList" message="tns:getProductList"/>
<output wsam:Action="urn://x-artefacts-it-ru/dob/poltava/core/1.3.1:PoltavaCorePortType:getProductListResponse" message="tns:getProductListResponse"/>
</operation>
<operation name="getPaymentOrderDetails">
<input wsam:Action="urn:getPaymentOrderDetails" message="tns:getPaymentOrderDetails"/>
<output wsam:Action="urn://x-artefacts-it-ru/dob/poltava/core/1.3.1:PoltavaCorePortType:getPaymentOrderDetailsResponse" message="tns:getPaymentOrderDetailsResponse"/>
</operation>
<operation name="getBusinessRefBookList">
<input wsam:Action="urn:getBusinessRefBookList" message="tns:getBusinessRefBookList"/>
<output wsam:Action="urn://x-artefacts-it-ru/dob/poltava/core/1.3.1:PoltavaCorePortType:getBusinessRefBookListResponse" message="tns:getBusinessRefBookListResponse"/>
</operation>
<operation name="getBusinessRefBookContent">
<input wsam:Action="urn:getBusinessRefBookContent" message="tns:getBusinessRefBookContent"/>
<output wsam:Action="urn://x-artefacts-it-ru/dob/poltava/core/1.3.1:PoltavaCorePortType:getBusinessRefBookContentResponse" message="tns:getBusinessRefBookContentResponse"/>
</operation>
<operation name="getBusinessRefBookItem">
<input wsam:Action="urn:getBusinessRefBookItem" message="tns:getBusinessRefBookItem"/>
<output wsam:Action="urn://x-artefacts-it-ru/dob/poltava/core/1.3.1:PoltavaCorePortType:getBusinessRefBookItemResponse" message="tns:getBusinessRefBookItemResponse"/>
</operation>
<operation name="setPerson">
<input wsam:Action="urn:setPerson" message="tns:setPerson"/>
<output wsam:Action="urn://x-artefacts-it-ru/dob/poltava/core/1.3.1:PoltavaCorePortType:setPersonResponse" message="tns:setPersonResponse"/>
</operation>
<operation name="getOptionsForWizardStep">
<input wsam:Action="urn:getOptionsForWizardStep" message="tns:getOptionsForWizardStep"/>
<output wsam:Action="urn://x-artefacts-it-ru/dob/poltava/core/1.3.1:PoltavaCorePortType:getOptionsForWizardStepResponse" message="tns:getOptionsForWizardStepResponse"/>
</operation>
<operation name="getActiveUIBlocksByChoosenOptions">
<input wsam:Action="urn:getActiveUIBlocksByChoosenOptions" message="tns:getActiveUIBlocksByChoosenOptions"/>
<output wsam:Action="urn://x-artefacts-it-ru/dob/poltava/core/1.3.1:PoltavaCorePortType:getActiveUIBlocksByChoosenOptionsResponse" message="tns:getActiveUIBlocksByChoosenOptionsResponse"/>
</operation>
</portType>
<binding name="PoltavaCoreEndpointBinding" type="tns:PoltavaCorePortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getBranchList">
<soap:operation soapAction="urn:getBranchList"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBranchByProductList">
<soap:operation soapAction="urn:getBranchByProductList"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPerson">
<soap:operation soapAction="urn:getPerson"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductList">
<soap:operation soapAction="urn:getProductList"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPaymentOrderDetails">
<soap:operation soapAction="urn:getPaymentOrderDetails"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBusinessRefBookList">
<soap:operation soapAction="urn:getBusinessRefBookList"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBusinessRefBookContent">
<soap:operation soapAction="urn:getBusinessRefBookContent"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBusinessRefBookItem">
<soap:operation soapAction="urn:getBusinessRefBookItem"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPerson">
<soap:operation soapAction="urn:setPerson"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOptionsForWizardStep">
<soap:operation soapAction="urn:getOptionsForWizardStep"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getActiveUIBlocksByChoosenOptions">
<soap:operation soapAction="urn:getActiveUIBlocksByChoosenOptions"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PoltavaCoreService">
<port name="PoltavaCoreEndpoint" binding="tns:PoltavaCoreEndpointBinding">
<soap:address location="http://demo-riep:7777/gateway/services/SID0003130"/>
</port>
</service>
</definitions>